/* Greater >= 701px */
/*

@media all and (min-width: 701px) {
  #navBar {
    position: fixed;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    border: 1px solid lightgray;
    border-radius: 0;
    background: #1d4f73;
  }

  #navBarIcon {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 5px 0;
    opacity: 0.7;
  }

  #navBarMenu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 35%;
  }

  li a {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
      padding: 5px 5px;
    opacity: 0.7;
  }
}
*/

/* Less <= 700px */
/*

@media all and (max-width: 700px) {
  #navBar {
    position: fixed;
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    border: 1px solid lightgray;
    border-radius: 0;
    background: #1d4f73;
  }

  #navBarIcon {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 5px 0;
    opacity: 0.7;
  }

  #navBarMenu {
    display: block;
    list-style-type: none;
    height: 0;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
      padding: 0;
  }

  li a {
    display: block;
    border-bottom: 2px solid #fff;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 2em 0;
    opacity: 0.7;
  }
*/
/*

  #menu-toggle:checked ~ #navBarMenu {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  
  .label-toggle {
     background: linear-gradient(to bottom, $color1 0%, $color1 20%, transparent 20%, transparent 40%, $color1 40%, $color1 60%, transparent 60%, transparent 80%, $color1 80%, $color1 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
  }
  
*/
/*
  
#navBar {
    display: flex;
  }
}
*/

/* Greater >= 450px */
/*

@media all and (min-width: 475px) {
  .sectionBreaks:before {
    display: inline-block;
    margin: 0px 20px 13px 0px;
    border: 100px;
    height: 5px;
    content: " ";
    background-color: #10274c;
    width: 120px;
  }
  .sectionBreaks:after {
    display: inline-block;
    margin: 0px 0px 13px 20px;
    height: 5px;
    content: " ";
    background-color: #10274c;
    width: 120px;
  }
}

*/